body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
}

h1 {
  color: #fff;
  text-align: center;
}

.container {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#input-container {
  display: flex;
}
#todo-input {
  padding: 10px;
  border: none;
  background-color: gray;
  color: white;
}
#todo-input::placeholder {
  color: white;
}

#todo-btn {
  padding: 10px;
  background-color: rgb(0, 30, 255);
  color: #fff;
  border: none;
  font-weight: bold;
}
#todo-btn:hover {
  background-color: blue;
}
#todo-list {
  padding: 0;
}
#todo-list li {
  background-color: black;
  color: white;
  font-weight: bold;
  margin-bottom: 2px;
  padding: 10px;
  list-style: none;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
#todo-list button {
  background-color: rgb(255, 38, 0);
  color: #fff;
  padding: 4px;
  border-radius: 5px;
  border: none;
}
#todo-list button:hover {
  background-color: red;
}
